<div class="col-sm-offset-1 col-sm-9">
  <div class="page-header">
    <h1>新規交配</h1>
  </div>
  <%= form_tag url_for(:action => :create), method: :post do %>
    <div class="row">
      <div class="col-sm-3">遺伝子型</div>
      <div class="col-sm-3">父</div>
      <div class="col-sm-3">母</div>
      <div class="col-sm-3">交配開始日</div>
    </div>
    <% (1..@count).each do |num| %>
      <div class="row form-group">
        <div class="col-sm-3">
          <%= text_field_tag "couples[#{num}][genotype]", @genotype, placeholder: "遺伝子型", disabled: true, class: 'form-control' %>
        </div>
        <div class="col-sm-3">
          <%= select_tag "couples[#{num}][father_id]", options_for_select(@father_candidates), class: 'form-control' %>
        </div>
        <div class="col-sm-3">
          <%= select_tag "couples[#{num}][mother_id]", options_for_select(@mother_candidates), class: 'form-control' %>
        </div>
        <div class="col-sm-3">
          <%= date_field_tag "couples[#{num}][mated_at]", Date.today, class: 'form-control'  %>
        </div>
      </div>
    <% end %>
    <div class="btn-group">
      <%= submit_tag t('.save', :default => t("helpers.links.save")), :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")), couples_path, :class => 'btn btn-default' %>
    </div>
  <% end %>
</div>
